{{ license.name }} {% if license.shortName %}({{ license.shortName }}){% endif %}

Copyright © {{ year|copyrightYear }} {{ license.ownerName }}{% if license.ownerWebsite %}, {{ license.ownerWebsite|cleanUrl }}{% endif %} <{{ license.ownerEmail }}>

{{ license.content }}
