<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ license.name }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}{% endblock %}
        {% block meta %}
            <meta name="description" content="{{ license.name }}, Copyright © {{ year|default|copyrightYear }} {{ license.ownerName }}" />
            <meta name="author" content="{{ license.ownerName }} <{{ license.ownerEmail }}>" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ path('app_license_favicon') }}" />
        <link rel="alternate" type="application/json" href="{{ path('app_license_show_1', {_format: 'txt'}) }}" />
    </head>
    <body>
        {% block body %}
            <main>
                <header>
                    {% block header %}
                        {% if license.avatar %}
                            <img src="{{ license.ownerEmail|gravatar(80) }}" />
                        {% endif %}
                        <h1>
                            {{ license.name }}
                            {% if license.shortName %}
                                <small>({{ license.shortName }})</small>
                            {% endif %}
                        </h1>
                        <p>
                            Copyright © {{ year|default|copyrightYear }}
                            <br>
                            {{ license.ownerName }}{% if license.ownerWebsite %},{% endif %}
                            <br>
                            {% if license.ownerWebsite %}
                                <a href="{{ license.ownerWebsite }}" target="_blank">{{ license.ownerWebsite|cleanUrl }}</a>
                            {% endif %}
                            &lt;<a href="mailto:{{ license.ownerEmail }}">{{ license.ownerEmail }}</a>&gt;
                        </p>
                    {% endblock %}
                </header>
                <article>
                    {% block content %}
                        {{ license.content|markdown }}
                    {% endblock %}
                </article>
            </main>
            {% block footer %}
                {% if license.footer %}
                    <footer>
                        {{ license.footer|markdown }}
                    </footer>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
