{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
        body {
            font-family: "Open Sans", sans-serif;
            background-color: #363a43;
            color: #adb6d4;
            margin: 0;
            padding: 0;
            font-size: 1.2rem;
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        a {
            color: {{ license.color }}
        }

        header {
            background-color: #22252c;
            margin-top: 8rem;
            text-align: center;
            padding: 1rem;
        }

        header img {
            width: 6rem;
            height: 6rem;
            margin-top: -4rem;
            border-radius: 50%;
            border: .25rem solid #363a43;
        }

        article {
            width: calc(100% - 2rem);
            max-width: 60rem;
            margin: 64px auto;
        }

        article p {
            text-align: justify;
        }

        footer {
            text-align: center;
            font-size: small;
        }

        header br {
            display: none;
        }

        @media (max-width: 60rem) {
            article p {
                hyphens: auto;
            }
            main article br {
                display: block;
            }
        }
    </style>
{% endblock %}
