{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        @import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
        body {
            font-family: "Ubuntu", sans-serif;
            background-color: #fafafa;
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        main {
            width: calc(100% - 2rem);
            max-width: 60rem;
            margin: 64px auto;
            background-color: #fff;
            border: 1px solid #dbdbdb;
            padding: 2rem;
            padding-bottom: 1rem;
            box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.12), 0 .25rem .25rem rgba(0, 0, 0, 0.24);
        }

        header {
            background-color: {{ license.color }};
            margin: -2rem;
            margin-bottom: 3rem;
            padding: 2rem;
            color: #fff;
            position: relative;
        }

        header h1 small {
            color: #dbdbdb;
        }

        header a {
            color: #dbdbdb;
        }

        header a:hover, main article header a:active, main article header a:focus {
            color: #fafafa;
        }

        header img {
            border-radius: 50%;
            box-shadow: 0 .25rem 1rem rgba(0, 0, 0, 0.24), 0 .25rem 1rem rgba(0, 0, 0, 0.16);
            position: absolute;
            bottom: -2.5rem;
            right: 2rem;
        }

        article p {
            text-align: justify;
        }

        footer {
            text-align: center;
            color: #999;
            font-size: small;
            margin: -2rem 0 3rem 0;
        }

        footer a {
            color: #999;
        }

        header br {
            display: none;
        }

        @media (max-width: 60rem) {
            article p {
                hyphens: auto;
            }
            header br {
                display: block;
            }
        }
    </style>
{% endblock %}
