{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        @import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700");
        body {
            font-family: "Ubuntu Mono", monospace;
            background-color: #fafafa;
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        main {
            width: calc(100% - 2rem);
            max-width: 60rem;
            margin: 64px auto;
            background-color: #fff;
            border: 1px solid #dbdbdb;
            padding: 2rem;
            padding-bottom: 1rem;
            box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.12), 0 .25rem .25rem rgba(0, 0, 0, 0.24);
            font-size: 1.2rem;
        }

        header h1 {
            font-size: 2.4rem;
        }

        header img {
            float: right;
        }

        article p {
            text-align: justify;
        }

        footer {
            text-align: center;
            color: #999;
            font-size: small;
            margin: -2rem 0 3rem 0;
        }

        footer a {
            color: #999;
        }

        header br {
            display: none;
        }

        @media (max-width: 60rem) {
            main p {
                hyphens: auto;
            }
            header br {
                display: block;
            }
        }
    </style>
{% endblock %}
